<!--Top section-->
<div class="myslider2">
    <div class="innerTextSlider2">
        <h2 style="text-transform:uppercase">{{description}} </h2>
    </div>
</div>
<!--END Top section-->
<div class="wthree-main-content">
    <div class="container">
        <a href="#/"> Home</a> 
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
         <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
         <a href="#/Job-Offers"> All jobs </a>

        <div class="clearfix"></div>
        <div class="container box boxshadow">
            <table class="table">

                <tbody>
                    <tr>
                        <td><b>Catergorty</b></td>
                        <td>
                            {{catergorty}}
                        </td>

                    </tr>
                    <tr>
                        <td><b>Description </b></td>
                        <td>
                            {{description}}
                        </td>

                    </tr>
                    <tr>
                        <td><b>expirience Required</b></td>
                        <td>
                            {{expirience}}
                        </td>

                    </tr>
                    <tr>
                        <td><b>comment</b></td>
                        <td>
                            {{comment}}
                        </td>

                    </tr>
                    <tr>
                        <td><b>Positions</b></td>
                        <td>
                            {{positions}}
                        </td>

                    </tr>
                    <tr>
                        <td><b>Job location</b></td>
                        <td>
                            {{location}}
                        </td>

                    </tr>
                    <tr>
                        <td><b>Componey Name</b></td>
                        <td>
                            {{componeyName}}
                        </td>

                    </tr>
                    <tr>
                        <td><b>Date posted</b></td>
                        <td>
                            {{date}}			<br>
                        </td>

                    </tr>
                 

                </tbody>
            </table>


            <button type="submit" class="btn btn-custom" ng-click="Appy()">I want this job</button>
           <a href="#/Job-Offers"> <button type="submit" class="btn btn-custom" ng-click="Remove()">Browse more Jobs</button></a>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
