 <!--Top section-->
<div class="myslider3">
    <div class="innerTextSlider2">
        <h2 class="w3l-title" style="text-transform:uppercase">{{name}} {{surname}}  <a href="#/logout"><span class="glyphicon glyphicon-share" aria-hidden="true"></span></a> </h2>
    </div>
</div>
<!--END Top section--> 
<div class="wthree-main-content">
    <section class="w3-about text-center">
        <div class="container">
            <div class="clearfix"></div>
                <h3 class="w3l-title"><a href="#/candidate"><i class="fa fa-file-text" aria-hidden="true"></i></a>Update CV</h3>
               <div class="container">
                <div class="row">
                    <div class="col-md-6 w3l-abt-grid">
                        <div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
                            <a href="#/updateCV" class="hi-icon icon"><i class="fa fa-file-text" aria-hidden="true"></i></a>
                        </div>
                        <h4>UPDATE CV</h4>
                    </div>
                    <div class="col-md-6 w3l-abt-grid">
                        <div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
                            <a href="#/updateCandidate" class="hi-icon icon"><i class="fa fa-edit" aria-hidden="true"></i></a>
                        </div>
                        <h4>EDIT PERSONAL INFO</h4>
                    </div>
                </div>
                <div class="row" style="padding-top: 68px;">
                    <div class="panel panel-default">
                        <div class="col-md-6">                            
                            <div class="form-group has-feedback">
                                <label class="pull-left">Title</label>
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                             </div>
                            <div class="form-group has-feedback">                           
                                   <select class="form-control" ng-model="title">
                                       <option>Mr</option>
                                       <option>Mrs</option>
                                       <option>Miss</option>
                                       <option>Doc</option>
                                       <option>Prof</option>                                      
                                    </select>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="pull-left">Job Category</label>
                                <span class="glyphicon glyphicon-open-file form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                               <select class="form-control" ng-model="jobCatergory">
                                    <option>Administrartion</option>
                                    <option>Finance</option>
                                    <option>Human Recourse</option>
                                    <option>Information Technology</option>
                                    <option>Sales</option>
                                </select>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="pull-left">Job Category</label>
                                <span class="glyphicon glyphicon-certificate form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" placeholder="Job Title" ng-model="jobTitle">
                          
                            </div>
                            <div class="form-group has-feedback">
                                <label class="pull-left">Tell Us about yourself</label>
                                <span class="glyphicon glyphicon-briefcase form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <textarea type="text" class="form-control" placeholder="Give a brief descriptionof desired role." ng-model="jobDescription"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <div class="form-group has-feedback">
                                    <label class="pull-left">Location</label>
                                    <span class="glyphicon glyphicon-open-file form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <input type="tel" class="form-control" placeholder="Enter City." ng-model="city">
                                    <span class="glyphicon glyphicon-globe form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="pull-left">Upload a CV</label>
                                    <span class="glyphicon glyphicon-open-file form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">                              
                                    <input type="file" class="form-control fileUpload" onchange="angular.element(this).scope().filesChanged(this)">
                                    <span class="glyphicon glyphicon-file form-control-feedback"></span>                                  
                                </div>   
                                <br><font color="black"><b>{{filename}}</b></font>                          
                            </div>
                            <div style="padding-top: 70px;">
                                <button type="button" class="btn btn-success pull-left" ng-click="UpdateCV()">
                                    Update
                                </button>
                                <p class="pull-right">
                                    {{message}}
                                </p>
                                <a href="#/candidate" class="btn btn-primary pull-right">
                                    <i class="fa fa-home"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
</div>
