<div class="myslider2">
    <div class="innerTextSlider2">
        <h2 style="text-transform:uppercase">{{name}} <a href="#/logout">Log-out</a> </h2>
    </div>
</div>
<div class="wthree-main-content">
    <section class="w3-about text-center">
        <div class="container">
            <div class="clearfix"></div>

            <div class="row  box boxshadow" style="width:100%;">
                <div class="col-md-12">

                    <h3 class="w3l-title"><a href="#/admin-dashboard">Our Candidates</a></h3>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="Search Clients" ng-model="searchClients">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>surname</th>
                                <th>email</th>
                                <th>cell</th>
                                <th>title</th>
                                <th>jobCatergory</th>
                                <th>jobTitle</th>
                                <th>jobDescription</th>
                                <th>expirience</th>
                                <th>cv</th>
                                <th>city</th>
                                <th></th>
                            </tr>
                        </thead>                       
                        <tbody>
                            <tr ng-repeat="candidate in candidates | filter:searchClients">
                                <td>{{candidate.name}}</td>
                                <td>{{candidate.surname}}</td>
                                <td>{{candidate.email}}</td>
                                <td>{{candidate.cell}}</td>
                                <td>{{candidate.title}}</td>
                                <td>{{candidate.jobCatergory}}</td>
                                <td>{{candidate.jobTitle}}</td>
                                <td>{{candidate.jobDescription}}</td>
                                <td>{{candidate.expirience}}</td>
                                <td><a href="{{candidate.cv}}" target="_blank">View</a></td>
                                <td>{{candidate.city}}</td>
                                <td><button type="button" class="btn btn-info" ng-click="GetSelectedJob(candidate)">View</button></td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <form>
                        <h3 class="w3l-title">{{name}} {{surname}}</h3>
                        <table class="table">

                            <tbody>
                                <tr>
                                    <td><b>Name</b></td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="name">
                                    </td>

                                </tr>
                                <tr>
                                    <td><b>Surname</b></td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="surname">
                                    </td>

                                </tr>
                                <tr>
                                    <td><b>Email Address</b></td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="email">
                                    </td>

                                </tr>
                                <tr>
                                    <td><b>Title</b></td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="title">
                                    </td>

                                </tr>
                                <tr>
                                    <td><b>Job Catergory</b></td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="jobCatergory">
                                    </td>

                                </tr>
                                <tr>
                                    <td><b>Job Title</b></td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="jobTitle">
                                    </td>

                                </tr>
                                <tr>
                                    <td><b>Job Description</b></td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="jobDescription">
                                    </td>

                                </tr>
                                <tr>
                                    <td><b>Expirience (Years)</b></td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="expirience">
                                    </td>

                                </tr>
                                <tr>
                                    <td><b>City</b></td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="city">
                                    </td>

                                </tr>
                          
                            </tbody>
                        </table>

                      
                        <button type="submit" class="btn btn-custom" ng-click="Update()">Update</button>
                        <button type="submit" class="btn btn-custom" ng-click="Remove()">Remove</button>

                     
                    </form>
                </div>
              

            </div>
        </div>
    </section>
</div>