<div class="wthree-main-content">
    <section class="w3-about text-center">
        <div class="container">
            <div class="clearfix"></div>
            <div class="row  box boxshadow" style="width:100%;">
                <div class="col-md-12">
                    <h3 class="w3l-title">Link To Interview</h3>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="Search Clients" ng-model="searchClients">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                    <table class="table table-bordered">
                     
                    </table>
                    <form> 
                                           

                        <button type="submit" class="btn btn-custom" ng-click="Update()">Update</button>
                        <button type="submit" class="btn btn-custom" ng-click="Remove()">Remove</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>