<!--Top section-->
<div class="myslider2">
    <div class="innerTextSlider2">
        <h2 style="text-transform:uppercase">Our skilled candidates <font color="green">{{candidatesCount}}</font>  </h2>



    </div>
</div>
<!--END Top section-->
<div class="wthree-main-content">
    <div class="container">
        <div class="clearfix"></div>
        <div class="container box boxshadow">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Search by Expirience, Job Title or Location" ng-model="searchCandidates">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
            <div class="panel-group">
                <div class="panel panel-info" ng-repeat="candidate in candidates  | filter:searchCandidates">
                    <div class="panel-heading"><h4>{{candidate.jobDescription}} - {{candidate.city}}</h4></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                            <b>{{candidate.jobDescription}}</b> <br>
                                
                               Expirience <span class="badge">{{candidate.expirience}}</span>
                            </div>
                            <div class="col-sm-4">
                            </div>
                                <div class="col-sm-2" style="text-align:right"><button type="button" ng-click="GetCandidate(candidate)" class="btn btn-info">Enquire</button></div>
                            </div>
                    </div>
                </div>
               
            </div>

        </div>


    </div>

    <div class="clearfix"></div>
</div>
